.dialogs {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.dialogsItems {
    padding: 20px;
}

.dialogsItems a {
    text-decoration: none;
    color: white;
}

.dialogsItems a.active {
    color: gold;
}

.dialog {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.dialog img {
    width: 30px;
    height: 30px;
}

.dialog:last-child {
    padding-bottom: 0;
}

.messages {
    padding: 20px;
}

.message {
    padding-bottom: 5px;
}
div[class$='owner'] {
    text-align: right;
}

.message:last-child {
    padding-bottom: 0;
}

.message div {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    background-color: #6a8d8b;
}

div[class$='my'] div {
    background-color: #8b888d;
}
